@font-face {
  font-family: GeosansLightimport;
  src:url("GeosansLight.ttf");
}
#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  margin-top: 20px;
  display: none;
}
#title{
  font-family: GeosansLightimport;
  text-align: center;
  font-size: 150px;
  margin-bottom: 0.6em;
  margin-top: 0.5em;
  color: grey;
}

#description{
  margin-bottom: 0.6em;
  padding-bottom: 50px;
}

#urldescription{
  color: grey;
}

h1 {
  color: black;
  text-align: center;
  position: relative;
  font-size: 100px;
}

body {
  font-family: GeosansLightimport;
  background-color: #F5C5ED;
  text-align: center;
  font-size: 25px;
}

input[type="text"] {
    width: 850px;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 1.5em;
    font-family: GeosansLightimport;
}

button {
  font-size: 25px;
  font-family: GeosansLightimport;
  padding-bottom: 9px;
  padding-top: 7px;
  padding-left: 40px;
  padding-right: 40px;
}
