@font-face {
  font-family: GeosansLightimport;
  src:url("GeosansLight.ttf");
}

#main{
  font-family: GeosansLightimport;
  text-align: center;
  font-size: 150px;
  padding-top: 70px;
  padding-bottom: 30px;
}

h1 {
  color: gray;
  text-align: center;
  position: relative;
  bottom: 100;
  font-size: 100px;
  padding-bottom: 50px;
}

body {
  font-family: GeosansLightimport;
  background-color: #F5C5ED;
  text-align: center;
  font-size: 25px;
}

form{
  /*background-color: white;*/
}

input[type="text"] {
    width: 850px;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: GeosansLightimport;
}

p{
  padding: 10px;
}

button {
  font-size: 20px;
  font-family: GeosansLightimport;
  padding-bottom: 9px;
  padding-top: 7px;
  padding-left: 40px;
  padding-right: 40px;
}

object{
  text-align: center;
}
